.badge {
  display: inline-block;
  font-size: 14px;
  padding: 0 8px;
  border-radius: 4px;
}

.badge-success {
  color: $success;
  border: 1px solid $success;
  background-color: $white;
}

.badge-gray {
  color: $gray-4;
  border: 0;
  background-color: $gray-2;
}

.badge-icon {
  display: inline-flex;
  align-items: center;
  padding: 5px 6px;
  border-radius: 100px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;

  svg {
    margin-right: 4px;
  }
}
